body {
  font-family: $ubuntu;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: $c2;
  color: $c6;
}
.row, .col, .col-sm-12 {
  margin: 0;
  padding: 0;
}
// Font weights
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.heavy {
  font-weight: 700;
}

// Header sizes
h1 {
  font-size: 3.2rem;
  margin: 0 !important;
  padding: 0 !important;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.6rem;
}
h4 {
  font-size: 2.2rem;
}

// Create horizontal and vertical center via flex
.make-flex {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

// Make screen dim on menu open
.screen-dim-when-menu-open {
  z-index: -3;
}
