// Fonts
$audiowide: 'Audiowide', cursive;
$ubuntu: 'Ubuntu', sans-serif;

// Colors light(1) to dark(5)
$c1: #F3F3F3;
$c2: #ACB2C2;
$c3: #808AA5;
$c4: #3A476A;
$c5: #131E3C;
$c6: #000718;
$cmain: #223978;
$cmain2: #3155B6;
$black: #ffffff;
