#hamburger {
  cursor: pointer;
  z-index: 500;
  background: none;
  border: none;
  outline: none;
  margin: 2rem 2rem 0 0;

  &:active {
    background: none;
  }
}
.b1, .b2, .b3 {
  width: 58px;
  height: 10px;
  background-color: black;
  margin: 6px 0;
  border-radius: 5px;
  transition: 0.1s, background-color 0.3s;
}

.changeb1 {
    -webkit-transform: rotate(-45deg) translate(-11.5px, 11px);
    transform: rotate(-45deg) translate(-11.5px, 11px);
    background-color: $black;
}

.changeb2 {opacity: 0;}

.changeb3 {
    -webkit-transform: rotate(45deg) translate(-11.5px, -11px);
    transform: rotate(45deg) translate(-11.5px, -11px);
    background-color: $black;
}
